{
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": ["warn", "never"]
  },
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true,
    "mocha": true
  },
  "overrides": [
    {
      "files": ["*.d.ts"],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
      ]
    }
  ]
}
