{
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": ["warn", "never"]
  },
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true,
    "mocha": true
  }
}
